@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}
.gameCont {
  display: flex;
  width: 12vw;
  height: 7vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: dimgray;
  gap: 0;
  border: 0.5px solid black;
}
.teams {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
}

.gameNum {
  text-align: center;
  font-size: 3rem;
  height: 100%;
  width: 4vw;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid black;
}

.gameRed,
.gameBlue,
.gameWinner {
  width: 100%;
  height: 3vh;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-indent: 1vw;
}

.gameRed {
  border-bottom: 1.5px solid black;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #0a650e;
}
.games {
  position: absolute;
  top: 0;
}

.gameNum1 {
  position: absolute;
  left: 10vw;
}

.gameNum3,
.gameNum2 {
  position: absolute;
  left: 30vw;
}
.gameNum4 {
  position: absolute;
  left: 30vw;
}

.gameNum1 {
  top: 36.5vh;
}
.gameNum2 {
  top: 18.5vh;
}
.gameNum3 {
  top: 42.5vh;
}
.gameNum4 {
  top: 62.5vh;
}
.gameNum5,
.gameNum6 {
  position: absolute;
  left: 45vw;
  top: 70vh;
}
.gameNum5 {
  top: 30.5vh;
}
.gameNum7 {
  position: absolute;
  left: 59vw;
  top: 60.25vh;
}
.line {
  background-color: black;
  border-radius: 3px;
  width: 50%;
  height: 3px;
}

.vline {
  background-color: black;
  border-radius: 3px;
  height: 100%;
  width: 3px;
}

.connectFirst {
  position: absolute;
  left: 23vw;
  width: 6vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 34vh;
}

.l2 {
  top: 40vh;
}
.l3,
.l4 {
  width: 2vw;
  left: 27.5vw;
}
.l3 {
  top: 60vh;
}

.l4 {
  top: 75vh;
}

.l5 {
  top: 22vh;
  width: 2vw;
  height: 24.25vh;
  left: 42.5vw;
}
.l5::after {
  content: " ";
  width: 50%;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 0px;
}
.connectSec {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.l22 {
  align-self: center;
}
.l13 {
  align-self: flex-end;
}
.l6 {
  left: 42.5vw;
  top: 66vh;
  width: 2vw;
  height: 7.75vh;
}
.connectThird {
  position: absolute;
  left: 57.5vw;
  width: 1vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 63.75vh;
}
.l31 {
  align-self: flex-end;
}

.connectFourth {
  position: absolute;
  left: 58vw;
  width: 16vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 34vh;
}
.connectFourth::after {
  content: " ";
  width: 50%;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 0px;
}
.gameNumF {
  position: absolute;
  top: 43vh;
  left: 75vw;
}
